<div class="col-md-4-offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="nombreP" placeholder="Nombre" class="form-control" autofocus>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <textarea name="description" placeholder="Descripción" rows="2" class="form-control"></textarea>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <input type="url" name="image" placeholder="Image" class="form-control" autofocus>
                </div>
            </form>
        </div>
    </div>
</div>